rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow read/write for all authenticated users for MVP
      // Strict rule would mean matching chat paths to users
      allow read, write: if request.auth != null;
    }
  }
}
